name: app_update_manager
description: "A comprehensive Flutter package for managing app updates across Play Store, App Store, and custom backends with flexible update strategies."
version: 1.0.0
homepage: https://github.com/mixin27/app_update_manager

environment:
  sdk: ^3.10.0
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
